<figure class="attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
  <% mime_type = MIME::Types.type_for(blob.filename.to_s).first %>
  <% if blob.image? %>
    <% if mime_type&.content_type == 'image/svg+xml' %>
      <p>SVG images are not support, please convert into PNG.</p>
    <% else %>
      <%= image_tag url_for(blob.attachable) %>
    <% end %>
  <% end %>
  <% if blob.video? %>
    <%= video_tag url_for(blob.attachable),
                  preloads: 'auto',
                  controls: 'controls',
                  width:    '640',
                  height:   '360' %>
  <% end %>
  <% if mime_type&.content_type == 'application/pdf' %>
    <%= link_to "Open PDF", url_for(blob.attachable), target: '_blank' %>
  <% end %>

  <figcaption class="attachment__caption">
    <% if caption = blob.try(:caption) %>
      <%= caption %>
    <% else %>
      <span class="attachment__name"><%= blob.filename %></span>
      <span class="attachment__size"><%= number_to_human_size blob.byte_size %></span>
    <% end %>
  </figcaption>
</figure>
