<div class="columns flex-center">
  <div class="column is-4">
    <h2 class="flex-center">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render Components::TextInputComponent.new(form:       f,
                                                    field_name: 'email',
                                                    value:      @email,
                                                    errors:     @errors && @errors["email"] ? @errors["email"] : nil,
                                                    autofocus:  true,
                                                    field_type: 'email') %>
      <%= render Components::TextInputComponent.new(form:       f,
                                                    field_name: 'password',
                                                    errors:     @errors && @errors["password"] ? @errors["password"] : nil,
                                                    field_type: 'password') %>

      <% if devise_mapping.rememberable? %>
        <div class="columns">
          <div class="column is-12">
            <div class="columns is-marginless">
              <div class="column is-12 flex-center">
                <label class="checkbox">
                  <%= f.check_box :remember_me, class: 'checkbox' %>
                </label>
                <%= f.label :remember_me, class: 'small-margin-left' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="columns small-margin-bottom">
        <div class="column is-12">
          <div class="columns is-marginless">
            <div class="column is-12 flex-center">
              <%= f.submit "Log in", class: 'button is-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
