<div class="columns flex-center">
  <div class="column is-4">
    <h2 class="flex-center">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <%= render Components::TextInputComponent.new(form:       f,
                                                    field_name: 'password',
                                                    errors:     @errors && @errors["password"] ? @errors["password"] : nil,
                                                    field_type: 'password') %>
      <%= render Components::TextInputComponent.new(form:       f,
                                                    field_name: 'password_confirmation',
                                                    errors:     @errors && @errors["password_confirmation"] ? @errors["password_confirmation"] : nil,
                                                    field_type: 'password') %>
      <div class="columns">
        <div class="column is-12">
          <div class="columns is-marginless">
            <div class="column is-12 flex-center">
              <%= f.submit "Change my password", class: 'button is-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
