<div class="columns flex-center">
  <div class="column is-4">
    <h2 class="flex-center">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render Components::TextInputComponent.new(form:       f,
                                                    field_name: 'nickname',
                                                    value:      @nickname,
                                                    errors:     @errors && @errors["nickname"] ? @errors["nickname"] : nil,
                                                    autofocus:  true) %>
      <%= render Components::TextInputComponent.new(form:       f,
                                                    field_name: 'email',
                                                    value:      @email,
                                                    errors:     @errors && @errors["email"] ? @errors["email"] : nil,
                                                    field_type: 'email') %>
      <%= render Components::TextInputComponent.new(form:       f,
                                                    field_name: 'password',
                                                    errors:     @errors && @errors["password"] ? @errors["password"] : nil,
                                                    field_type: 'password') %>
      <%= render Components::TextInputComponent.new(form:       f,
                                                    field_name: 'password_confirmation',
                                                    errors:     @errors && @errors["password_confirmation"] ? @errors["password_confirmation"] : nil,
                                                    field_type: 'password') %>

      <div class="columns">
        <div class="column is-12 flex-center">
          <div class="actions">
            <%= f.submit "Sign up", class: 'button is-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
